/*
[data-role="image-slider"] {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 420px;
    width: 1000px;
    padding: 10px 0;
}

[data-role="image-slider"] > .image-slider-element {
    position: absolute;
    z-index: 1;
    margin-top: -16px;
    margin-bottom: 16px;
}

[data-role="image-slider"] > input[type="radio"] ~ .image-slider-element {
    display: none;
}

[data-role="image-slider"] > input[type="radio"]:checked + .image-slider-element {
    display: block;
}

[data-role="image-slider"] > input[type="radio"] {
    padding-top: 12px;
    z-index: 2;
}

[data-role="image-slider"] img {
    height: 400px;
}
*/


  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  h2 {
    font-family: 'Preahvihear', sans-serif;
    font-size: x-small;
  }
  p{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Preahvihear', sans-serif;
  }
  
  .container {
    position: relative;
    width: 1500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
    background-color: #FFEADD;
    height:45vh;
    padding: .010%;
  }
  .container .box {
    position: relative;
    width: 260px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
    padding: .10vh .10vh .20vh;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: linear-gradient(180deg,rgb(160, 179, 199),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content p {
    transform: translateY(0px);
  }